<form>
<div>
  <mat-form-field>
    <input matInput placeholder="Enter your plate"  [formControl]="email" required>
  </mat-form-field>
</div>


<div>
  <mat-form-field>
    <input matInput placeholder="Enter your vahicle model"  [formControl]="email" required>
  </mat-form-field>
</div>


<div>
  <mat-form-field>
    <input matInput placeholder="Enter your vahicle year"  [formControl]="email" required>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <input matInput placeholder="Enter your vahicle mileage"  [formControl]="email" required>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <input matInput placeholder="Enter number of gears in your vehicle"  [formControl]="email" required>
  </mat-form-field>
</div>

  <button type="submit" class="btn btn-light btn-sm" style="float: left">Submit</button>
  <button type="submit" class="btn btn-light btn-sm" style="float: right">Cancel</button>
</form>
