#container-1{
overflow: visible;
background-color:  #fbf1aa;
}
#container-2{
overflow: visible;
background-color:  #fdf7ad;
}
#container-3{
overflow: visible;
background-color: #dde67d;
}

#carouselExampleControls{
background-color:  #fbf1aa;
height: 400px
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
