<html>

<head>
</head>


<body>
<!--My nav bar comes here -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">CarTracker</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Monitor Cars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Delete a Car</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="test">TEST</a>
    </li>



  </ul>
</nav>


<mat-tab-group>
  <mat-tab label="Electric Cars">
        <hr class="col-xs-12">
        <div class="col-sm">
          <ul>
            <h4>Electric Cars </h4>
            <li *ngFor="let car of electricCars">
              {{car.plate}} {{car.make}} {{car.odometerReading}}
            </li>
          </ul>
          <button type="button" class="btn btn-light btn-sm" (click)="addElectricCar()" style="float: left">Add an Electric
            Car
          </button>
        </div>
  </mat-tab>

  <mat-tab label="Gas Cars">
      <hr class="col-xs-12">
      <div class="col-sm">
        <ul>
          <h4>Gas Cars </h4>
          <li *ngFor="let gasCar of gasCars">
            {{gasCar.plate}} {{gasCar.make}} {{gasCar.odometerReading}}
          </li>
        </ul>
        <button type="button" class="btn btn-light btn-sm" style="float: left" (click)="addGasCar()">Add a Gas Car</button>
      </div>
  </mat-tab>

  <mat-tab label="Diesel Cars">
      <hr class="col-xs-12">
      <div class="col-sm">

        <ul>
          <h4>Diesel Cars </h4>
          <li *ngFor="let car of electricCars">
            {{car.plate}} {{car.make}} {{car.odometerReading}}
          </li>
        </ul>
        <button type="button" class="btn btn-light btn-sm" style="float: left;background-color: black; color:white">Add a Diesel Car</button>
      </div>
  </mat-tab>








  <mat-tab label="test">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="electricCars" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="plate">
        <th mat-header-cell *matHeaderCellDef> Plate </th>
        <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef> Make </th>
        <td mat-cell *matCellDef="let element"> {{element.make}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

      <button type="button" class="btn btn-light btn-sm" style="float: left">Add a Diesel Car</button>

    <router-outlet></router-outlet>

  </mat-tab>







</mat-tab-group>


</body>
</html>
