
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">CarTracker</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Monitor Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Delete Car</a>
      </li>
    </ul>
  </nav>
  <hr class="col-xs-12">

  <div class="container">
      <div class="row">
        <div class="col-sm">
          <h4>Electric Cars </h4>
          <ul>
            <li *ngFor="let car of electricCars">
              {{car.plate}}  {{car.make}}  {{car.odometerReading}}
            </li>
          </ul>
          <div> 
            <button type="button" class="btn btn-dark" (click)="addElectricCar()">Add an Electric Car</button>
          </div>
        </div>
        
        <div class="col-sm">
            <h4>Gas Cars </h4>
            <div>
              <button type="button" class="btn btn-dark">Add a Gas Car</button>
            </div>
        </div>
        
        <div class="col-sm">
            <h4>Diesel Cars </h4>
            <div> 
              <button type="button" class="btn btn-dark">Add a Diesel Car</button>
            </div>
        </div>
        
      </div>
    </div>
