#container-1{
width: 700px;
overflow: auto;
background-color:  #fbf1aa
}
#container-2{
width: 700px;
overflow: auto;
background-color:  #fdf7ad
}
#container-3{
width: 700px;
overflow: auto;
background-color: #dde67d
}
